NEXT_PUBLIC_SEO_URL=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GITHUB_ID=
GITHUB_SECRET=

COCKROACH_CLOUD_SECRET_KEY=

GITHUB_ADMIN_EMAIL=

NEXT_PUBLIC_MARKETO_BASE_URL=go.cockroachlabs.com
NEXT_PUBLIC_MUNCHKIN_ID=350-QIN-827
NEXT_PUBLIC_NEWSLETTER_FORM_ID=1478